{% extends "base.html" %}

{% block caption %}{{qname}}{% endblock %}

{% block header %}
<script src="/static/js/form-validate.js"></script>
{% endblock %}

{% block title %}{{qname}}{% endblock %}

{% block contents %}
<div class="col-1"></div>
<div class="col-10">
    <form class="row" action="/submit/{{qid}}" method="post" onsubmit="return validateForm();">
        {{ queries | safe }}
        <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
</div>
<div class="col-1"></div>
{% endblock %}
